*{
	box-sizing: border-box;
}

body{
	background-color: #222;
	overflow: hidden;
}

.canvas-game{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.unclickable{
	pointer-events: none;
}

.perk-section{
	z-index: 100;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.perk-frame{
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.perk-frame:not(:last-child){
	margin-right: 3vh;
}

.perk-frame__perkimg, .perk--active{
	cursor: pointer;
	width: 10vh;
	padding: 10px;
	border-radius: 15px;
	transition-duration: 255ms;
	border: 5px solid #f00;
	opacity: 0.25;
	filter: hue-rotate(-25deg);
	user-select: none;
}

.perk-frame__perkimg:hover, .perk--active{
	opacity: 1;
	filter: hue-rotate(-25deg) drop-shadow(0 0 5px #fdc) drop-shadow(0 0 5px #fdc) drop-shadow(0 0 5px #fdc);
	
}
.perk-frame:nth-child(2n+1)>.perk-frame__perkimg:hover, .perk-frame:nth-child(2n+1)>.perk--active{
	transform: scale(1.25) translateY(-25%) rotate(15deg);
}
.perk-frame:nth-child(2n)>.perk-frame__perkimg:hover, .perk-frame:nth-child(2n)>.perk--active{
	transform: scale(1.25) translateY(-25%) rotate(-15deg);
}

.perk-frame__overlay{
	background-color: #0005;
	height: 10vh;
	width: 10vh;
	border-radius: 15px;
	position: absolute;
}

.timer-tab, .teams-tab{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	pointer-events: none;
	user-select: none;
}

.timer-tab{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	border-radius: 1vh;
	font-size: 55px;
	
	opacity: 0.25;
	border: 5px solid #f05;
	color: #f05;
}

.teams-tab{
	position: absolute;
	left: 30px;
	top: 30px;
	border-radius: 1vh;
	color: #f05;
	font-size: 33px;
	justify-content: flex-start;
}

.teams-tab__team{
	transition-duration: 500ms;
}











